<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdz.db.dao.AccountAssetTransactionMapper" >
  <resultMap id="BaseResultMap" type="com.zdz.db.model.AccountAssetTransaction" >
    <id column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="f_user_id" property="fUserId" jdbcType="BIGINT" />
    <result column="f_account_id" property="fAccountId" jdbcType="BIGINT" />
    <result column="f_account_type" property="fAccountType" jdbcType="TINYINT" />
    <result column="f_currency_id" property="fCurrencyId" jdbcType="INTEGER" />
    <result column="f_transfer_type" property="fTransferType" jdbcType="TINYINT" />
    <result column="f_amount" property="fAmount" jdbcType="DECIMAL" />
    <result column="f_fee" property="fFee" jdbcType="DECIMAL" />
    <result column="f_biz_type" property="fBizType" jdbcType="TINYINT" />
    <result column="f_balance" property="fBalance" jdbcType="DECIMAL" />
    <result column="f_biz_order_id" property="fBizOrderId" jdbcType="BIGINT" />
    <result column="f_biz_time" property="fBizTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_user_id, f_account_id, f_account_type, f_currency_id, f_transfer_type, f_amount, 
    f_fee, f_biz_type, f_balance, f_biz_order_id, f_biz_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_account_asset_transaction
    where f_id = #{fId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_account_asset_transaction
    where f_id = #{fId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zdz.db.model.AccountAssetTransaction" >
    insert into t_account_asset_transaction (f_id, f_user_id, f_account_id, 
      f_account_type, f_currency_id, f_transfer_type, 
      f_amount, f_fee, f_biz_type, 
      f_balance, f_biz_order_id, f_biz_time
      )
    values (#{fId,jdbcType=BIGINT}, #{fUserId,jdbcType=BIGINT}, #{fAccountId,jdbcType=BIGINT}, 
      #{fAccountType,jdbcType=TINYINT}, #{fCurrencyId,jdbcType=INTEGER}, #{fTransferType,jdbcType=TINYINT}, 
      #{fAmount,jdbcType=DECIMAL}, #{fFee,jdbcType=DECIMAL}, #{fBizType,jdbcType=TINYINT}, 
      #{fBalance,jdbcType=DECIMAL}, #{fBizOrderId,jdbcType=BIGINT}, #{fBizTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdz.db.model.AccountAssetTransaction" >
    insert into t_account_asset_transaction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="fUserId != null" >
        f_user_id,
      </if>
      <if test="fAccountId != null" >
        f_account_id,
      </if>
      <if test="fAccountType != null" >
        f_account_type,
      </if>
      <if test="fCurrencyId != null" >
        f_currency_id,
      </if>
      <if test="fTransferType != null" >
        f_transfer_type,
      </if>
      <if test="fAmount != null" >
        f_amount,
      </if>
      <if test="fFee != null" >
        f_fee,
      </if>
      <if test="fBizType != null" >
        f_biz_type,
      </if>
      <if test="fBalance != null" >
        f_balance,
      </if>
      <if test="fBizOrderId != null" >
        f_biz_order_id,
      </if>
      <if test="fBizTime != null" >
        f_biz_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="fUserId != null" >
        #{fUserId,jdbcType=BIGINT},
      </if>
      <if test="fAccountId != null" >
        #{fAccountId,jdbcType=BIGINT},
      </if>
      <if test="fAccountType != null" >
        #{fAccountType,jdbcType=TINYINT},
      </if>
      <if test="fCurrencyId != null" >
        #{fCurrencyId,jdbcType=INTEGER},
      </if>
      <if test="fTransferType != null" >
        #{fTransferType,jdbcType=TINYINT},
      </if>
      <if test="fAmount != null" >
        #{fAmount,jdbcType=DECIMAL},
      </if>
      <if test="fFee != null" >
        #{fFee,jdbcType=DECIMAL},
      </if>
      <if test="fBizType != null" >
        #{fBizType,jdbcType=TINYINT},
      </if>
      <if test="fBalance != null" >
        #{fBalance,jdbcType=DECIMAL},
      </if>
      <if test="fBizOrderId != null" >
        #{fBizOrderId,jdbcType=BIGINT},
      </if>
      <if test="fBizTime != null" >
        #{fBizTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdz.db.model.AccountAssetTransaction" >
    update t_account_asset_transaction
    <set >
      <if test="fUserId != null" >
        f_user_id = #{fUserId,jdbcType=BIGINT},
      </if>
      <if test="fAccountId != null" >
        f_account_id = #{fAccountId,jdbcType=BIGINT},
      </if>
      <if test="fAccountType != null" >
        f_account_type = #{fAccountType,jdbcType=TINYINT},
      </if>
      <if test="fCurrencyId != null" >
        f_currency_id = #{fCurrencyId,jdbcType=INTEGER},
      </if>
      <if test="fTransferType != null" >
        f_transfer_type = #{fTransferType,jdbcType=TINYINT},
      </if>
      <if test="fAmount != null" >
        f_amount = #{fAmount,jdbcType=DECIMAL},
      </if>
      <if test="fFee != null" >
        f_fee = #{fFee,jdbcType=DECIMAL},
      </if>
      <if test="fBizType != null" >
        f_biz_type = #{fBizType,jdbcType=TINYINT},
      </if>
      <if test="fBalance != null" >
        f_balance = #{fBalance,jdbcType=DECIMAL},
      </if>
      <if test="fBizOrderId != null" >
        f_biz_order_id = #{fBizOrderId,jdbcType=BIGINT},
      </if>
      <if test="fBizTime != null" >
        f_biz_time = #{fBizTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdz.db.model.AccountAssetTransaction" >
    update t_account_asset_transaction
    set f_user_id = #{fUserId,jdbcType=BIGINT},
      f_account_id = #{fAccountId,jdbcType=BIGINT},
      f_account_type = #{fAccountType,jdbcType=TINYINT},
      f_currency_id = #{fCurrencyId,jdbcType=INTEGER},
      f_transfer_type = #{fTransferType,jdbcType=TINYINT},
      f_amount = #{fAmount,jdbcType=DECIMAL},
      f_fee = #{fFee,jdbcType=DECIMAL},
      f_biz_type = #{fBizType,jdbcType=TINYINT},
      f_balance = #{fBalance,jdbcType=DECIMAL},
      f_biz_order_id = #{fBizOrderId,jdbcType=BIGINT},
      f_biz_time = #{fBizTime,jdbcType=TIMESTAMP}
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
</mapper>