<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdz.db.dao.UserAccountIdMapper" >
  <resultMap id="BaseResultMap" type="com.zdz.db.model.UserAccountId" >
    <id column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="f_user_id" property="fUserId" jdbcType="BIGINT" />
    <result column="f_account_type" property="fAccountType" jdbcType="TINYINT" />
    <result column="f_balance_type" property="fBalanceType" jdbcType="TINYINT" />
    <result column="f_account_id" property="fAccountId" jdbcType="BIGINT" />
    <result column="f_create_time" property="fCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_user_id, f_account_type, f_balance_type, f_account_id, f_create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_account_id
    where f_id = #{fId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_account_id
    where f_id = #{fId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zdz.db.model.UserAccountId" >
    insert into t_user_account_id (f_id, f_user_id, f_account_type, 
      f_balance_type, f_account_id, f_create_time
      )
    values (#{fId,jdbcType=BIGINT}, #{fUserId,jdbcType=BIGINT}, #{fAccountType,jdbcType=TINYINT}, 
      #{fBalanceType,jdbcType=TINYINT}, #{fAccountId,jdbcType=BIGINT}, #{fCreateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdz.db.model.UserAccountId" >
    insert into t_user_account_id
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="fUserId != null" >
        f_user_id,
      </if>
      <if test="fAccountType != null" >
        f_account_type,
      </if>
      <if test="fBalanceType != null" >
        f_balance_type,
      </if>
      <if test="fAccountId != null" >
        f_account_id,
      </if>
      <if test="fCreateTime != null" >
        f_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="fUserId != null" >
        #{fUserId,jdbcType=BIGINT},
      </if>
      <if test="fAccountType != null" >
        #{fAccountType,jdbcType=TINYINT},
      </if>
      <if test="fBalanceType != null" >
        #{fBalanceType,jdbcType=TINYINT},
      </if>
      <if test="fAccountId != null" >
        #{fAccountId,jdbcType=BIGINT},
      </if>
      <if test="fCreateTime != null" >
        #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdz.db.model.UserAccountId" >
    update t_user_account_id
    <set >
      <if test="fUserId != null" >
        f_user_id = #{fUserId,jdbcType=BIGINT},
      </if>
      <if test="fAccountType != null" >
        f_account_type = #{fAccountType,jdbcType=TINYINT},
      </if>
      <if test="fBalanceType != null" >
        f_balance_type = #{fBalanceType,jdbcType=TINYINT},
      </if>
      <if test="fAccountId != null" >
        f_account_id = #{fAccountId,jdbcType=BIGINT},
      </if>
      <if test="fCreateTime != null" >
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdz.db.model.UserAccountId" >
    update t_user_account_id
    set f_user_id = #{fUserId,jdbcType=BIGINT},
      f_account_type = #{fAccountType,jdbcType=TINYINT},
      f_balance_type = #{fBalanceType,jdbcType=TINYINT},
      f_account_id = #{fAccountId,jdbcType=BIGINT},
      f_create_time = #{fCreateTime,jdbcType=TIMESTAMP}
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
</mapper>